<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Layout - Fuse Examples</title>
    <link rel="stylesheet" href="https://fuse-open.github.io/examples/bootstrap.css">
    <link rel="stylesheet" href="https://fuse-open.github.io/examples/prism.css">
    <link rel="stylesheet" href="https://fuse-open.github.io/examples/site.css">
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark flex-md-nowrap">
      <a class="navbar-brand" href="https://fuse-open.github.io/examples/">Fuse: Examples</a>
    </nav>

    <div class="container-fluid main-content-wrapper">
      <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <p class="example-back-link">
&lt; <a href="../index.html">Go back</a>
</p>
<p class="example-download-link">
<a href="../bundles/layout.zip" class="btn btn-primary btn-block">Download example</a>
</p>
<h6>Tags</h6>
<p class="example-tags">
<a href="../tag_layout.html">Layout</a>
</p>
<h6>UX Concepts</h6>
<ul class="nav flex-column concepts-nav">
<li class="nav-item"><a href="https://fuse-open.github.io/docs/fuse/controls/stackpanel.html" class="nav-link">StackPanel</a></li>
<li class="nav-item"><a href="https://fuse-open.github.io/docs/fuse/controls/grid.html" class="nav-link">Grid</a></li>
<li class="nav-item"><a href="https://fuse-open.github.io/docs/fuse/controls/wrappanel.html" class="nav-link">WrapPanel</a></li>
<li class="nav-item"><a href="https://fuse-open.github.io/docs/fuse/controls/dockpanel.html" class="nav-link">DockPanel</a></li>
<li class="nav-item"><a href="https://fuse-open.github.io/docs/ux-markup/classes.html" class="nav-link">ux:Class</a></li>
<li class="nav-item"><a href="https://fuse-open.github.io/docs/fuse/ios/statusbarconfig.html" class="nav-link">iOS.StatusBarConfig</a></li>
</ul>



          </div>
        </div>
        <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-content">
          <h1>Layout</h1>

          <div class="example-content-preview example-content-preview-slot-7">
<img src="media/preview.png" alt="">
</div>
<div class="example-content-body">
<p>This example app shows how to construct advanced layouts.</p>
<h4>The markup</h4
<!-- snippet-begin:code/MainView.ux:AppUX -->
<pre><code>&lt;App&gt;
	&lt;Image ux:Class=&quot;Icon&quot; Density=&quot;2&quot; StretchMode=&quot;PointPrecise&quot; /&gt;
	&lt;Font File=&quot;Assets/OpenSans-SemiBold.ttf&quot; ux:Global=&quot;SemiBold&quot; /&gt;

	&lt;Grid ColumnCount=&quot;1&quot; Rows=&quot;4.5*,100,4*&quot;&gt;
		&lt;Fuse.iOS.StatusBarConfig Style=&quot;Light&quot; /&gt;

		&lt;Text ux:Class=&quot;DefaultText&quot; Color=&quot;#fff&quot; Font=&quot;SemiBold&quot; /&gt;

		&lt;Grid Row=&quot;1&quot; RowCount=&quot;1&quot; Columns=&quot;Auto,Auto,1*&quot; Color=&quot;#00000088&quot;&gt;
			&lt;DefaultText Margin=&quot;20,0,0,20&quot; Alignment=&quot;Bottom&quot; FontSize=&quot;70&quot;&gt;73°&lt;/DefaultText&gt;
			&lt;Icon Margin=&quot;15,0,15,25&quot; Alignment=&quot;Bottom&quot; File=&quot;Assets/PartlyCloudyIconWhite.png&quot; /&gt;
			&lt;WrapPanel Margin=&quot;0,0,0,20&quot; Alignment=&quot;Bottom&quot;&gt;
				&lt;DefaultText Value=&quot;SUNDAY, &quot;/&gt;
				&lt;DefaultText Value=&quot;MARCH &quot;/&gt;
				&lt;DefaultText Value=&quot;23&quot; /&gt;
			&lt;/WrapPanel&gt;
		&lt;/Grid&gt;
		&lt;Image Row=&quot;0&quot; RowSpan=&quot;2&quot; File=&quot;Assets/PaloAlto.png&quot; StretchMode=&quot;UniformToFill&quot; /&gt;
		&lt;DockPanel Row=&quot;2&quot; Color=&quot;#f3f3f3&quot;&gt;
			&lt;Grid ColumnCount=&quot;6&quot; RowCount=&quot;1&quot; Dock=&quot;Top&quot; Height=&quot;80&quot;&gt;
				&lt;DefaultText ux:Class=&quot;StatText&quot; Color=&quot;#1c1c1c&quot; FontSize=&quot;14&quot; Alignment=&quot;CenterLeft&quot; /&gt;
				&lt;Icon ux:Class=&quot;StatIcon&quot; Margin=&quot;6&quot; Alignment=&quot;CenterRight&quot; /&gt;

				&lt;Rectangle Alignment=&quot;Top&quot; Height=&quot;1&quot; Color=&quot;#999b9b&quot; Layer=&quot;Background&quot; /&gt;

				&lt;StatIcon File=&quot;Assets/FlagIcon.png&quot; /&gt;
				&lt;StatText&gt;4 MPH&lt;/StatText&gt;
				&lt;StatIcon File=&quot;Assets/CompassIcon.png&quot; /&gt;
				&lt;StatText&gt;SOUTH&lt;/StatText&gt;
				&lt;StatIcon File=&quot;Assets/UmbrellaIcon.png&quot; /&gt;
				&lt;StatText&gt;23%&lt;/StatText&gt;
			&lt;/Grid&gt;
			&lt;Grid RowCount=&quot;4&quot; ColumnCount=&quot;5&quot;&gt;
				&lt;Rectangle Alignment=&quot;Top&quot; Height=&quot;1&quot; Color=&quot;#999b9b&quot; Layer=&quot;Background&quot; /&gt;
				&lt;DefaultText ux:Class=&quot;Weekday&quot; Color=&quot;#939393&quot; Alignment=&quot;Center&quot; FontSize=&quot;12&quot; /&gt;
				&lt;DefaultText ux:Class=&quot;Temperature&quot; Color=&quot;#333333&quot; Alignment=&quot;Center&quot; FontSize=&quot;20&quot; Margin=&quot;6,0,0,0&quot; /&gt;
				&lt;Weekday&gt;MON&lt;/Weekday&gt;
				&lt;Weekday&gt;TUE&lt;/Weekday&gt;
				&lt;Weekday&gt;WED&lt;/Weekday&gt;
				&lt;Weekday&gt;THU&lt;/Weekday&gt;
				&lt;Weekday&gt;FRI&lt;/Weekday&gt;
				&lt;Icon File=&quot;Assets/CloudsIcon.png&quot; /&gt;
				&lt;Icon File=&quot;Assets/SunnyIcon.png&quot; /&gt;
				&lt;Icon File=&quot;Assets/PartlyCloudyIcon.png&quot; /&gt;
				&lt;Icon File=&quot;Assets/PartlyCloudyIcon.png&quot; /&gt;
				&lt;Icon File=&quot;Assets/SunnyIcon.png&quot; /&gt;
				&lt;Temperature&gt;83°&lt;/Temperature&gt;
				&lt;Temperature&gt;85°&lt;/Temperature&gt;
				&lt;Temperature&gt;81°&lt;/Temperature&gt;
				&lt;Temperature&gt;82°&lt;/Temperature&gt;
				&lt;Temperature&gt;86°&lt;/Temperature&gt;
			&lt;/Grid&gt;
		&lt;/DockPanel&gt;
	&lt;/Grid&gt;
&lt;/App&gt;
</code></pre>
<!-- snippet-end -->

</div>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://fuse-open.github.io/examples/jquery.js"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/examples/popper.js"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/examples/bootstrap.js"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/examples/prism.js"></script>
    <script type="text/javascript" src="https://fuse-open.github.io/examples/site.js"></script>
  </body>
</html>
